* {
  margin: auto;
  padding: auto;
}

header {
  background-color: #843aa1;
  width: 100%;
  height: 600px;
}

header .menu {
  display: flex;
  margin-top: 15px;
}

header .menu .logo {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: white;
  padding-top: 40px;
}

header .menu ul.menuright {
  display: flex;
  list-style: none;
  padding-top: 45px;
}

header .menu ul.menuright li a:hover {
  color: white;
  background-color: #48165c;
}

header .menu ul.menuright li {
  padding-top: 15px;
}

header .menu ul.menuright li a {
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 4px;
  transition: 0, 4px;
  color: white;
  font-size: 15px;
}

header .text {
  display: block;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 28px;
  width: 70%;
  padding-top: 80px;
  margin: 0 auto 0 auto;
  color: white;
  margin-top: 70px;
  margin-bottom: 63px;
}

header button {
  display: block;
  text-align: center;
  background-color: #f17840;
  width: 293px;
  height: 68px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15pt;
  border: none;
  border-bottom: 3px solid #c86a40;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

header button:hover {
  color: #f00909;
  background-color: #152bf1;
  border: #152bf1;
  cursor: pointer;
}

.services {
  background-color: #23c29f;
  text-align: center;
  color: white;
  width: 100%;
  height: 750px;
}

.services .content {
  padding-top: 120px;
  padding-bottom: 23px;
  font-size: 28px;
  margin: auto;
  color: white;
}

.services hr {
  size: 5px;
  color: #058b75;
  width: 3%;
  align: center;
  border: 1px solid #058b75;
  margin-bottom: 24px;
}

.services .mota {
  text-align: center;
  font-size: 14px;
  margin-bottom: 85px;
}

.services .text {
  display: flex;
  width: 1120px;
  height: 105px;
}

.services ul.text {
  display: flex;
  list-style: none;
}

.services .text .tren {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  width: 1120px;
  height: 105px;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  margin-left: -20px;
}

.services .text .chitiet {
  display: flex;
  text-align: center;
  width: 100%;
  height: 20px;
  font-size: 15px;
  margin-left: -25px;
}

.services .images {
  display: flex;
  width: 1120px;
  padding-left: 10px;
  padding-right: 10px;
}

div#my-div {
  max-width: 200px;
  max-height: 200px;
  width: 200px;
  height: 200px;
  background: #978e8e;
  border-radius: 50%;
  padding-top: auto;
  margin: auto;
}

.team {
  background-color: #d6d6d6;
  text-align: center;
  color: white;
  width: 100%;
  height: 915px;
}

.team .content {
  font-size: 30px;
  background-color: #d6d6d6;
  color: black;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 23px;
}

.team hr {
  size: 5px;
  color: #a4a8a8;
  width: 6%;
  align: center;
  border: 2px solid #c2bfbf;
}

.team .mota {
  color: black;
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 79px;
}

.team .noidung {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
}

.team .noidung .cot2, .team cot3, .team cot4 {
  margin-top: 0px;
}

.team .noidung .name {
  color: black;
  padding-top: 42px;
  padding-bottom: 15px;
}

.team .noidung .name1 {
  color: black;
  padding-top: 42px;
}

.team .job {
  color: #4184e7;
  font-size: 15px;
  font-weight: bold;
  padding-top: 16px;
}

.team p {
  text-align: center;
  color: black;
  font-size: 12px;
  padding-top: 32px;
  padding-bottom: 35px;
}

.skill {
  text-align: center;
  color: black;
  background-color: white;
  width: 100%;
  height: 655px;
}

.skill .content {
  font-size: 30px;
  padding-top: 120px;
  padding-bottom: 22px;
}

.skill hr {
  color: #908c92;
  size: 7px;
  width: 3%;
  border: 2px solid #908c92;
  border-radius: 1px;
}

.skill .mota {
  font-size: 14px;
  text-align: center;
  padding-top: 25px;
}

.skill .images {
  width: 1100px;
  height: 212px;
  display: flex;
  padding-top: 90px;
  padding-bottom: 125px;
}

.skill p {
  font-weight: bold;
  font-size: 18px;
  padding-top: 35px;
}

.dautu {
  text-align: center;
  width: 100%;
  height: 1425px;
  background-color: #fad287;
  color: black;
}

.dautu .content {
  font-size: 30px;
  padding-top: 120px;
  padding-bottom: 20px;
}

.dautu hr {
  color: #e4b359;
  size: 7px;
  width: 4%;
  border: 2px solid #e4b359;
  border-radius: 1px;
}

.dautu p {
  color: black;
  text-align: center;
  font-size: 16px;
  padding-top: 30px;
}

.dautu .menu {
  margin: 15px 0 15px 0;
  text-align: center;
}

.dautu ul.danhsach {
  display: flex;
  list-style: none;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

.dautu ul.danhsach li {
  width: 85px;
  height: 40px;
  background-color: #eec476;
  padding: unset;
  margin: auto;
}

.dautu ul.danhsach li a {
  width: 40px;
  text-transform: uppercase;
  background-color: #eec476;
  color: black;
  display: block;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  border-radius: 4px;
  transition: 0.4s;
}

.dautu ul.danhsach li a:hover {
  background-color: white;
}

.dautu .images {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  height: 780px;
  padding-bottom: 65px;
  padding: 65px;
}

.dautu .lap1, .dautu .lap2, .dautu .lap3, .dautu .lap4 {
  width: 540px;
  height: 340px;
}

.dautu .lap3, .dautu .lap4 {
  padding-top: 65px;
  padding-bottom: 85px;
}

.dautu .images p {
  font-size: 20px;
}

.dautu button {
  width: 295px;
  height: 68px;
  color: white;
  background-color: #7dc27d;
  font-size: 15px;
  border: none;
  border-bottom: 4px solid #20683b;
  border-radius: 4px;
}

.dautu button:hover {
  cursor: pointer;
}

.comment {
  width: 100%;
  height: 895px;
  background-color: #ec3389;
}

.comment .content {
  text-align: center;
  padding-top: 120px;
  color: white;
  font-size: 30px;
  padding-bottom: 22px;
}

.comment hr {
  color: #420828;
  size: 7px;
  width: 5%;
  border: 2px solid #6b3b5d;
  border-radius: 4px;
}

.comment p {
  color: white;
  text-align: center;
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 72px;
}

.comment div#my-div {
  width: 116px;
  height: 116px;
  background: #636060;
  border-radius: 50%;
}

.comment .cot1, .comment .cot2, .comment .cot3, .comment .cot4 {
  display: flex;
  width: 540px;
  height: 180px;
}

.comment .cmt {
  display: flex;
  flex-wrap: wrap;
  width: 1120px;
}

.comment .cmt p {
  color: white;
  padding-bottom: 30px;
  font-size: 14px;
  font-style: italic;
}

.comment span {
  color: white;
  font-size: 20px;
}

.comment a {
  text-decoration: none;
  color: #d8d879;
  font-size: 18px;
}

.comment .cot3, .comment .cot4 {
  margin-top: 160px;
}

.footer {
  width: 100%;
  height: 930px;
  background-color: #0819af;
  text-align: center;
}

.footer .content {
  text-align: center;
  color: white;
  font-size: 30px;
  padding-top: 120px;
  padding-bottom: 25px;
}

.footer hr {
  color: #420828;
  size: 7px;
  width: 3%;
  border: 2px solid #6b3b5d;
  border-radius: 4px;
  margin-bottom: 21px;
}

.footer span {
  text-align: center;
  color: white;
}

.footer .inputtext {
  margin-top: 81px;
  margin-left: auto;
  margin-right: auto;
  width: 866px;
  height: 285px;
}

.footer .nameemail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 26px;
}

.footer .inputleft input {
  width: 350px;
  height: 40px;
  background-color: #09085c;
  border-radius: 4px;
  border: none;
  margin-left: 70px;
}

.footer .inputright input {
  width: 350px;
  height: 40px;
  background-color: #09085c;
  margin-right: 60px;
  border: none;
  border-radius: 4px;
}

.footer #message {
  border-radius: 4px;
  background-color: #09085c;
  border: none;
  grid-column: 1/3;
  width: 728px;
}

.footer button {
  display: block;
  text-align: center;
  background-color: #1da1ee;
  width: 260px;
  height: 50px;
  border: none;
  border-radius: 4px;
  border-bottom: 2px solid #017dc5;
  text-transform: uppercase;
  color: white;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.footer button:hover {
  cursor: pointer;
}

.footer .menufooter {
  display: flex;
  margin-top: 120px;
  background-color: #41047a;
  width: 100%;
  height: 112px;
}

.footer ul.menu {
  display: flex;
  list-style: none;
  width: 941px;
  margin-left: auto;
  margin-right: auto;
}

.footer a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 20px 10px 20px 10px;
  transition: 0.4s;
}

.footer a:hover {
  color: #099de2;
}
